* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bbbcc5;
  height: auto;
  display: flex;
  justify-content: center;
}

.main {
  width: 1440px;
  height: auto;
  background-color: white;
  border: 3px solid red;
  display: flex;
  justify-content: center;
}

.cards-block {
  background: white;
  min-width: 1110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.card {
  max-width: 350px;
  height: 730px;
  opacity: 1;
  background: #e1ede6;
}

.card__image {
  margin: 20px 20px 0 20px;
  width: 310px;
  height: 422px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__author {
  width: 133px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #86928b;
  margin-top: 20px;
  margin-left: 20px;
}

.card__title {
  width: 310px;
  height: 35px;
  opacity: 1;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.card__details {
  width: 310px;
  height: 21px;
  opacity: 1;
  margin-top: 8px;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.card__price {
  width: 122px;
  height: 28px;
  opacity: 1;
  margin-top: 30px;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
}

.card_button {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
  padding: 21px 106.5px 21px 106.5px;
  background-color: #e1ede6;
  border: 1px solid #598d66;
  margin-top: 20px;
  margin-left: 20px;
}

.card__image_1 {
  background-image: url("../images_21/card_image1.svg");
}

.card__image_2 {
  background-image: url("../images_21/card_image2.svg");
}
.card__image_3 {
  background-image: url("../images_21/card_image3.svg");
}

.card__image_4 {
  background-image: url("../images_21/card_image4.svg");
}

.card__image_5 {
  background-image: url("../images_21/card_image5.svg");
}
.card__image_6 {
  background-image: url("../images_21/card_image6.svg");
}

/*Планшет 690*/

@media (max-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #bbbcc5;
    height: auto;
    background-color: #86928b;
  }

  .main {
    width: 990px;
    background-color: wheat;
  }

  .cards-block {
    background:white;
    margin: auto 0px;
    min-width: 730px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 730px 730px 730px;
    gap: 30px;
    
  }

  .card {
    width: 350px;
    height: 730px;
    opacity: 1;
    background: #e1ede6;
  }

  .card__image {
    margin: 20px 20px 0 20px;
    width: 310px;
    height: 422px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card__author {
    width: 140px;
    height: 21px;
    opacity: 1;
    font-family: Raleway;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #86928b;
    margin-top: 20px;
    margin-left: 20px;
  }

  .card__title {
    width: 310px;
    height: 35px;
    opacity: 1;
    margin-top: 8px;
    margin-left: 20px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2c2d35;
  }

  .card__details {
    width: 310px;
    height: 21px;
    opacity: 1;
    margin-top: 8px;
    margin-left: 20px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2c2d35;
  }

  .card__price {
    width: 127px;
    height: 28px;
    opacity: 1;
    margin-top: 30px;
    margin-left: 20px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #598d66;
  }

  .card_button {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #598d66;
    padding: 21px 96.5px 21px 96.5px;
    background-color: #e1ede6;
    border: 1px solid #598d66;
    margin-top: 20px;
    margin-left: 20px;
  }

  .card__image_1 {
    background-image: url("../images_21/card_image1.svg");
  }

  .card__image_2 {
    background-image: url("../images_21/card_image2.svg");
  }
  .card__image_3 {
    background-image: url("../images_21/card_image3.svg");
  }

  .card__image_4 {
    background-image: url("../images_21/card_image4.svg");
  }

  .card__image_5 {
    background-image: url("../images_21/card_image5.svg");
  }
  .card__image_6 {
    background-image: url("../images_21/card_image6.svg");
  }
}
