body {
    background-color: #d6c424;}

p p h1 {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.Tr{
    color: blueviolet;
    background-color:bisque ;
    background-size: cover;
    text-align: justify;
    font-size: 30px;
    font-style: oblique;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    word-spacing: 20px;
    letter-spacing: 3px;
    line-height: 50px;
    cursor: pointer;
}
