* {
   margin: 0;
   padding: 0;
}


header {
   width: 100wh;
   height: 100px;
   background-color: blueviolet;
   line-height: 100px;
   
}

main {
   background-color: blue;
   height: 2000px;
   width: 70%;
   float: left;
   background-size: cover;
   background-repeat: no-repeat;
}


aside {

   background-color: brown;
   height: 2000px;
   width: 30%;
   float: left;

}



li {
   color: aliceblue;
   display: inline;
   padding: 20px;
   font-size: 16px;
}
li:hover {
   color: #292fb6;
}


main {
   background-repeat: no-repeat;
}
#asd {
   width: 200px;
   background-color: aqua;
   color: black;
   font-size: 20px;
}