* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bbbcc5;
  height: 10000px;
  border: 1px solid blue;
}

.main {
  width: 1440px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header {
  width: 1440px;
  height: 100px;
  opacity: 1;
  background-color: #e1ede6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 165px;
}

.header__nav {
  width: 470px;
  height: 24px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: 165px;
}

.header__link {
  text-decoration: none;
  white-space: nowrap;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.header__basket {
  border: none;
  background-color: #e1ede6;
}

.hero {
  width: 1440px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin: 0 auto;
  background-color: white;
}

.hero__img {
  width: 540px;
  height: 621px;
  angle: -180 deg;
  opacity: 1;
  margin-left: 165px;
}

.hero__card {
  margin-top: 145px;
  margin-right: 165px;
}
.hero__title {
  width: 540px;
  height: 132px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.hero__title span {
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #598d66;
}

.hero__text {
  width: 540px;
  height: 54px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #86928b;
}

.hero__btn {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
  padding: 21px 60px 21px 60px;
  border: 1px solid #598d66;
  margin-top: 81px;
  background-color: white;
}
/*Галерея с карточками*/
.gallery {
  background-color: white;
  width: 1110px;
  margin: 0 auto;
  border: 1px solid blue;
}
.gallery__nav {
  width: 1110px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  angle: 0 deg;
  opacity: 1;
  margin: 0 auto;

  margin-top: 70px;
  margin-bottom: 30px;
}

.gallery__title {
  width: 255px;
  height: 44px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.gallery__buttons {
  width: 428px;
  height: 43px;
  angle: 0 deg;
  opacity: 1;
  gap: 32px;
  display: flex;
  justify-content: space-between;
}

.gallery__button {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background: #d4e8d9;
  color: #2c2d35;
}

.gallery__button:hover {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background: #376b44;
  color: white;
}

.cards-block {
  background: white;
  margin: 0 auto;
  width: 1110px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 730px 730px;
  gap: 30px;
}

.card {
  width: 350px;
  height: 730px;
  angle: 0 deg;
  opacity: 1;
  background: #e1ede6;
}

.card__image {
  margin: 20px 20px 0 20px;
}
.card__author {
  width: 133px;
  height: 21px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 17px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #86928b;
  margin-top: 20px;
  margin-left: 20px;
}

.card__title {
  width: 310px;
  height: 35px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 10px;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.card__details {
  width: 310px;
  height: 21px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 8px;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.card__price {
  width: 122px;
  height: 28px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 30px;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 23px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
}

.card_button {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
  padding: 21px 106.5px 21px 106.5px;
  background-color: #e1ede6;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #598d66;
}

.fresco {
  width: 1440px;
  height: 574px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 70px;
  border: 1px solid black;
  background-image: url("./images_21/fresco_n.svg");
}

.fresco__logo-title {
  display: flex;
  justify-content: space-between;
  width: 521px;
  height: 80px;
  angle: 0 deg;
  opacity: 1;
  gap: 20px;
  margin-left: 165px;
  margin-top: 70px;
}

.fresco__logo {
  width: 80px;
  height: 80px;
  angle: 0 deg;
  opacity: 1;
  border-width: 3px;
  border: 3px solid #eedb6d;
}

.fresco__title {
  width: 421px;
  height: 80px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f4f6f5;
}

.fresco__description {
  width: 540px;
  height: 209px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 165px;
}

.fresco__btn {
  padding: 21px 60px 21px 60px;
  background: #eedb6d;
  border: none;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
  margin-top: 81px;
  margin-left: 165px;
}
/*Блок команда*/
.team {
  background-color: #ffffff;
  max-width: 1440px;
}

.team__container {
  width: 1110px;
  height: 440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.team__image-box {
  position: relative;
  width: 445px;
  height: 440px;
  opacity: 1;
  margin-left: 0px;

}

.team__frame {
  width: 444px;
  height: 361px;
  opacity: 1;
  display: block;
  margin-top: 79px;
  margin-left: 0px;

}

.team__hand {
  width: 269px;
  height: 397px;
  opacity: 1;
  left: 48px;
  bottom: 43px;
  position: absolute;
}

.team__content {
  width: 635px;
  height: 272px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin-top: 124px;
}

.team__title {
  width: 281px;
  height: 44px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.team__description {
  width: 635px;
  height: 108px;
  opacity: 1;
  margin-top: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.team__avatars {
  width: 300px;
  display: flex;
  height: 80px;
  opacity: 1;
  margin-top: 20px;
  gap: 30px;
}
