* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 1440px;
  height: 100px;
  opacity: 1;
  background-color: #e1ede6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 165px;
}

.header__nav {
  width: 470px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: 165px;
}

.header__link {
  text-decoration: none;
  white-space: nowrap;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.header__basket {
  border: none;
  background-color: #e1ede6;
}

.hero {
  width: 1440px;
  height: 620px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin: 0 auto;
}

.hero__img {
  width: 540px;
  height: 621px;
  angle: -180 deg;
  opacity: 1;
  margin-left: 165px;
}

.hero__card {
  margin-top: 145px;
  margin-right: 165px;
}
.hero__title {
  width: 540px;
  height: 132px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.hero__title span {
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #598d66;
}
