* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bbbcc5;
}
header {
  width: 1440px;
  height: 100px;
  opacity: 1;
  background-color: #e1ede6;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 165px;
}

.header__nav {
  width: 470px;
  height: 24px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: 165px;
}

.header__link {
  text-decoration: none;
  white-space: nowrap;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.header__basket {
  border: none;
  background-color: #e1ede6;
}

.hero {
  width: 1440px;
  height: 620px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin: 0 auto;
  background-color: white;
}

.hero__img {
  width: 540px;
  height: 621px;
  angle: -180 deg;
  opacity: 1;
  margin-left: 165px;
}

.hero__card {
  margin-top: 145px;
  margin-right: 165px;
}
.hero__title {
  width: 540px;
  height: 132px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #2c2d35;
}

.hero__title span {
  font-family: Raleway;
  font-weight: 500;
  font-size: 60px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #598d66;
}

.hero__text {
  width: 540px;
  height: 54px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #86928b;
}

.hero__btn {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
  padding: 21px 60px 21px 60px;
  border: 1px solid #598d66;
  margin-top: 81px;
}

.gallery {
  background-color: white;
}
.gallery__nav {
  width: 1110px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  angle: 0 deg;
  opacity: 1;
  margin: 0 auto;
  border: 1px solid red;
}

.gallery__title {
  width: 255px;
  height: 44px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.gallery__buttons {
  width: 428px;
  height: 43px;
  angle: 0 deg;
  opacity: 1;
  gap: 32px;
  display: flex;
  justify-content: space-between;
}

.gallery__button {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background: #376b44;
  color: white;
}

.cards-block {
  background: white;
  margin: 0 auto;
  width: 1440px;
  height: 3026px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 350px 350px 350px ;
  grid-template-rows: 730px 730px;
  gap: 30px;

}

.card {
  width: 350px;
  height: 730px;
  angle: 0 deg;
  opacity: 1;
  background: #e1ede6;
}
