* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 5000px;
}

.card2 {
  width: 290px;
  height: 514px;
  top: 834px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background: #e1ede6;
  border: 1px solid black;
}

.card2__image {
  width: 250px;
  height: 250px;
  opacity: 1;
  margin: 20px 20px 15px 20px;
}

.card2__author {
  width: 93px;
  height: 19px;
  angle: 0 deg;
  opacity: 1;
  color: #86928b;
  margin-left: 20px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.card2__title {
  width: 200px;
  height: 28px;
  angle: 0 deg;
  opacity: 1;
  margin-left: 20px;
  margin-top: 10px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.card2__description {
  width: 250px;
  height: 19px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2c2d35;
  margin-left: 20px;
  margin-top: 10px;
}

.card2__price {
  width: 103px;
  height: 23px;
  angle: 0 deg;
  opacity: 1;
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #598d66;
  margin-left: 20px;
  margin-top: 30px;
}

.card2_btn {
  font-family: Raleway;
  font-weight: 500;
  font-size: 17px;

  letter-spacing: 0%;
  color: #598d66;
  padding: 14.5px 81.5px;
  border: 1px solid #598d66;
  background-color: transparent;
  margin: 10px 20px 30px 20px;
}

.card3 {
  width: 380px;
  height: 582px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
}

.card3__title {
  width: 247px;
  height: 35px;
  angle: 0 deg;
  opacity: 1;
  margin-left: 44px;
  margin-top: 50px;

  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 143%;
  letter-spacing: 0%;
}

.card3__description {
  width: 240px;
  height: 48px;
  angle: 0 deg;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2e363e;
  margin-left: 44px;
  margin-top: 12px;
}

.card3__price {
  width: 108px;
  height: 36px;
  angle: 0 deg;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 23px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #434b53;
  margin-left: 44px;
  margin-top: 24px;
}

.card3_btn {
  angle: 0 deg;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #2e363e;
  padding: 20px 40px 20px 40px;
  margin-left: 44px;
  margin-top: 14px;
  border: none;

  background: #fed84c;
  border-radius: 8px;
}

.card4 {
  width: 330px;
  height: 400px;
  angle: 0 deg;
  opacity: 1;
  border: 1px solid red;
  background-color: #0c0b15;
  border-radius: 10px;
}

.card4__image-circles {
  display: flex;
  justify-content: space-between;
}
.card4__image {
  color: #06152b;
  width: 60px;
  height: 60px;
  angle: 0 deg;
  opacity: 1;
  margin-left: 27.21px;
  margin-top: 21.7px;
  display: inline-block;
}

.card4__circles {
  width: 28px;
  height: 6px;
  angle: 0 deg;
  opacity: 1;
  color: #99b2c6;
  background-color: #0c0b15;
  display: inline-block;
  margin-top: 23px;
  margin-right: 23px;
}

.card4__about {
  width: 96px;
  height: 27px;
  angle: 0 deg;
  opacity: 1;
  color: #fff;
  font-family: DM Sans;
  font-weight: 600;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 27px;
  letter-spacing: 0px;
  margin-left: 26.5px;
  margin-top: 18.3px;
}

.card4_designer {
  width: 262px;
  height: 22px;
  angle: 0 deg;
  opacity: 1;

  font-family: DM Sans;
  font-weight: 600;
  font-size: 15px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0px;
  color: #809fb8;
  margin-left: 26.5px;
  margin-top: 24.37px;
}

.card4__content {
  width: 260px;
  height: 147px;
  angle: 0 deg;
  opacity: 1;

  font-family: DM Sans;
  font-weight: 600;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 19px;
  letter-spacing: 0px;
  color: #809fb8;
  margin-left: 27.72px;
  margin-top: 26.63px;
}
